@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    font-family: 'Poppins' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--balck);
}
section{
    padding: 5rem 9%;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}
.heading::before{
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0,.1);
    z-index: -1;
}
.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--balck);
    background: #fff;
    border: var(--border);
}
.btn{
   margin-top: 1rem;
   display: inline-block;
   padding: .9rem 3rem;
   border-radius: .5rem;
   color: #fff;
   background: var(--green);
   font-size: 1.7rem;
   cursor: pointer;
   font-weight: 500;
}
.btn:hover{
    background: var(--dark-color);
}
.header .header-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .header-1 .logo i{
    color: var(--green);
}
.header-5{
    background-image: url(https://topfirms.co/public/BlogImages/J968f66iFYBfGcOPlvNGz2s43rbznJW4Yn31rpgA.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}


.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--balck);
    cursor: pointer;
}
.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--green);
}
#search-btn{
    display: none;
}
.header .header-2{
    background: var(--green);
}
.header .header-2 .navbar{
    text-align: center;
}
.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}
.header .header-2 .navbar a:hover{
    background-color: var(--dark-color);
}

.header .header-2 .active{
    position: fixed;
    top: 0; left: 0;right: 0;
    z-index: 1000;
}



.bottom-navbar{
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1000;
    display: none;
}
.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}
.bottom-navbar a:hover{
    background: var(--dark-color);
}


.content{
    flex: 1 1 42rem;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 3rem;
    margin: 15px;
}
.content h1{
    font-size:40px;
    font-weight: 500;
}
.content h1 span{
    margin: 1rem;
    font-size: 50px;
    color:red;
    font-weight: 500;
}
.content p{
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}


.home .row .books-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}
.home .row .books-slider a img{
    height: 25rem;

}
.home .row .books-slider a:hover img{
    transform: scale(.9);
}
.home .row .books-slider .stand{
    width: 100%;
    margin-top: -2rem;
}

.icons-container{
   display: grid;  
   grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
   gap: 1.5rem;
}
.icons-container .icons{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   padding: 2rem 0;
}
.icons-container .icons i{
    font-size: 3.5rem;
    color: var(--green);
}
.icons-container .icons h3{
    font-size: 2.2rem;
    color: var(--balck);
    padding-bottom: .5rem;
}
.icons-container .icons p{
    font-size: 1.4rem;
    color: var(--light-color);
}
.featured .featured-slider .box{
    width:25rem;
    
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;

}
.featured .featured-slider .box:hover{
    border: var(--border);
}
.featured .featured-slider .box .image{
    padding:1rem ;
    background: linear-gradient(15deg,#eee,#fff 30.1%);
}
.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
    width: 180px;
    height: 40rem;
}
.featured-slider{
    margin-left: 4rem;

}
.featured-slider .box{
    display: inline-block;

}
.featured .featured-slider .box .icons{
    padding-bottom: var(--border-hover);
    position: absolute;
    top: 0; left: 0;right: 0;
    background: #fff;
    transform: translateY(-20%);
    z-index: 1;
}
.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}
.featured .featured-slider .box .icons a{
    color: var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}
.featured .featured-slider .box .icons a:hover{
    background: var(--green);
    color: #fff;
}
.featured .featured-slider .box .content{
    background: #eee;
    padding: 1.5rem;
}
.featured .featured-slider .box .content h3{
   font-size: 2rem;
   color: var(--black);
}
.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
 }
 .featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
 }

 .newsletter{
   background: url(https://www.shutterstock.com/image-photo/young-boy-reading-bookstore-260nw-312838004.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
 }
 .newsletter form{
    max-width: 45rem;
    margin-left: auto;
    text-align:center;
    padding: 5rem 0;
 }
 .newsletter form h3{
    font-size: 2.2rem;
    color: #fff;
    padding-bottom: .7rem;
    font-weight: normal;
 }
 .newsletter form .box{
    width: 100%;
    margin:.7rem 0 ;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    text-transform: none;
 }
 .arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding:2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
 }
 .arrivals .arrivals-slider .box .image img{
    height: 15rem;
 }
 .arrivals .arrivals-slider .box:hover{
    border: var(--border-hover);
 }
 .arrivals .arrivals-slider .box .image img{
    height: 250px;
    width: 150px;
 }
 .arrivals .arrivals-slider .box .content h3{
    font-size: 3rem;
    color: var(--black);
 }

 .arrivals .arrivals-slider .box .content{
    margin-top: -20px;
    margin-left: 200px;
 }
 .arrivals .arrivals-slider .box .content .price{
    font-size: 3rem;
    margin-top: 10px;
    color: var(--black);
    padding-bottom: .5rem;
 }
 .arrivals .arrivals-slider .box .content span{
    font-size: 2rem;
    margin-top: 10px;
    color: var(--light-color);
    text-decoration: line-through;
 }
 .arrivals .arrivals-slider .box .content .stars i{
    margin-top: 10px;
    font-size: 2rem;
    color: var(--green);
 }
 /*----footer ssection start---*/

 .footer{
    
    background: #000;
    color: #8a8a8a;
    margin-top: 50px;
}
.footer .row{
    margin-top: 100px;
}
.footer p{
    color: #8a8a8a;

}
.footer h3{
    color: #fff;
    margin-bottom: 30px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    display: flex;

}
.footer-col-3{
    margin-bottom: 10px;
}
.footer-col-3 h3{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.footer-col-3 ul{
    margin-left: -70px;
}
.footer-col-3 ul li{
    list-style: none;
    font-size:14px ;
    font-weight: 400;
    padding: 5px;
    margin: 10px;
}
.footer-col-1{
   margin-top: 40px;
}
.footer-col-1 h3{
    margin-top: -35px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-left: 70px;
}   
.footer-col-1 p{
    margin: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-left: -40px;
}
.footer-col-1 .mar{
    margin-left: 20px;
}
.footer-col-4{
    margin-left: -60px;
    margin-bottom: 20px;
}
.footer-col-4 h3{
    font-size: 18px;
    font-weight: 400;
}
.footer-col-4 ul{
    margin-left: -60px;
}
.footer-col-4 ul li{
    font-size: 14px;
    margin: 10px;
    padding: 3px;
    list-style: none;
}

.copyright{
    text-align: center;
    font-size: 15px;
}
.footer-col-5 img{
    height: 30px;
    width: 30px;
  
}
/*-----single prodect deatails------*/

.single-product{
    margin-top: 80px;
    margin-left: 160px;
    right: 30px;
}
.single-product .box-1 img{
    padding: 0;
}
.box-2{
    margin-left: 400px;
    margin-top: -400px;
}
.box-2 p{
    font-size: 25px;
    font-weight: 700;
    font: bold;
    text-transform: uppercase;
}
.box-2 .col-0{
    margin: 20px;

}
.box-2 h4{
    font-size: 25px;
    font-weight: 700;
    color: orange;
    margin: 18px;
}
.box-2 .stars{
    color: red;
    margin: 18px;
    font-size: 20px;
}
.box-2 .rating h3{
    font-size: 18px;
    font-weight: 400;
    margin: 18px;
}
.box-2 .rating span{
    background: green;
    color: black;
    width: 80px;
    height: 80px;
    font-weight: 700;
    border: 1px red;
}
.col-0 .quantity{
    border: 1px solid;
    background: white;
    color: black;
    height: 50px;
    width: 80px;
}



 



























/* media quaery */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header .header-1{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}
@media(max-width:768px){
    html{
        scroll-padding-top: 0;
    }
    body{
        padding-bottom: 6rem;
    }
    .header .header-2{
        display: none;
    }
    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }
    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form{
        position: absolute;
        top: -115%;right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    .header .header-1 .search-form.active{
        top: 115%;
    }

}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    
}







