@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.max-width span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .logo a{
    color: wheat;
    font-size: 35px;
    font-weight: 600px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color:wheat;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
/*----menu btn styling-----*/



/* home section styling */
.home{
    display: flex;
    background: url("https://i.pinimg.com/originals/84/0e/da/840edacc5bbe89da770c3880280d30a0.jpg");
    height: 100vh;
    color: wheat;
    min-height: 500px;
    font-family: 'Ubuntu',sans-serif;
    background-size: cover;
    background-position: center;

}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
    margin-left: -40px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    margin-left: -40px;

}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    margin-left: -40px;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    font-size: 23px;
    padding: 10px 30px;
}

@media (max-width:690px ){
    .max-width{
        padding: 0 23px;
    }
    
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .about .about-content{
        width: 50%;
    }
    }
    @media (max-width:500px ){
        .home .home-content .text-2{
            font-size: 50px;
        }
        .home .home-content .text-3{
            font-size: 27px;
        }
        }
    .home .home-content a{
        display: inline-block;
        background: crimson;
        color: #fff;
        font-size: 25px;
        padding: 12px 36px;
        margin-top: 20px;
        border-radius: 6px;
        border: 2px solid crimson;
        transition: all 0.3s ease;
    } 
    .home .home-content a:hover{
        color: crimson;
        background: none;
    }
    /*----about styling start----*/
    section{
        padding: 100px 0;
    }
    .about, .skills, .intrest, .project,.contact  .footer{
        font-family: 'POppins', sans-serif;
    }
    /*.about .about-content,*/
    .skills .skills-content,
   /* .contact .contact-content,*/
   
    
    section .title{
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
        font-family: 'Ubuntu', sans-serif;
    }
    section .title::before{
        content: '';
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 180px;
        height: 3px;
        background:orange;
        transform: translateX(-50%);
    }
    
    .about .title::after{
        content: 'who i am';
        position: absolute;
        bottom: -10px;
        left: 50%;
        padding: 15px;
        font-size: 20px;
        color: crimson;
        height: 3px;
        background: #fff;
        transform: translateX(-50%);
    }
    .about .about-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .about .about-content .left{
        width: 45%;

    }
    .about .about-content .left img{
        height: 400px;
        width: 400px;
        object-fit: cover;
        border-radius: 6px;
    }
    .about .about-content .right{
        width: 55%;
        margin-right: -50px;
    }
    .about .about-content .right .text{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .about .about-content .right p{
        text-align: justify;
    }
    .about .about-content .right a{
        display: inline-block;
        background: crimson;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        padding: 1px 30px;
        margin-top: 20px;
        border-radius: 6px;
        border: 2px solid crimson;
        transition: all 0.3s ease;
    }
    .about .about-content .right a:hover{
        color: crimson;
        background: none;
    }
    /*----skills section starts----*/
    header{
        background: black;
    }
    
 
    .skills .right .bars{
        margin-bottom: 5px;
        margin-top: 100px;
    }
    .skills .right .info{
       
        display: flex;
        color: wheat;
        margin: 30px;
        font-size: bold;
        font-size: 20px;
        font-weight: 500;
        margin-top: -100px;
        align-items: center;
        justify-content: space-between;
    }
    .skills .right {
    margin-left: 250px;
    margin-right: 250px;
      
    }
    .skills .right .line{
        height: 5px;
        width: 100%;
        background: lightgray;
        position: relative;
    }
    .skills .right .line::before{
        content: "";
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        background: crimson;
    }
    .skills .right .html::before{
       width: 70%;
    }
    .skills .right .Css::before{
        width: 60%;
     }
     .skills .right .js::before{
        width: 50%;
     }
     .skills .right .reactjs::before{
        width: 50%;
     }
     /*------intrest section start------*/
     .intrest-title .col-1 img{
        height: 180px;
        width: 180px;
        border-radius: 30px;
        transition: transform 0.5s;
     }
     .intrest-title .col-1:hover img{
     transform: scale(1.1);
    }
     .intrest-title{
        margin-bottom: 30px;
        margin-right: 70px;
        margin-left: 90px;
        margin-top: 130px;
     }
     .intrest-title .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
     }
     .col-1 .header{
        color: wheat;
     }
    
     .intrest .main{
       
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        color: wheat;
     }
     .main{
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color: #555;
        margin-top: 20px;
    }
    .main::after{
        content: '';
        background: #ff523b;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
    .col-1 .header{
        margin-left: 50px;
        font-size: 18px;
    }
    /*-----------my project section start------*/
    .portfolio{
        padding: 0;
        margin-bottom: 40px;
        
    }
    .container .sub-title{
        text-align: center;
        margin-top: 50px;
        color: wheat;
    }
    .container .sub-title{
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color:white;
        margin-top: 20px;
    }
    .sub-title::after{
        content: '';
        background: #ff523b;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
   
   
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap:40px;
        margin-top: 50px;
    }
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .work img{
        width: 100%;
        border-radius: 10px;
        display: block;
        width: 240px;
        height: 280px;
        transition: transform 0.5s;
    }
    .layer{
       color: wheat;
    }
    .layer h3{
        font-weight: 500;
        margin-bottom: 20px;
    }
    .layer a{
        margin-top: 20px;
        color: #ff004f;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 130px;
        height: 130px;
        border-radius: 30%;
        text-align: center;
    }
    .work:hover img{
        transform: scale(1.1);
    }
    
    .layer .pro .btn{
       text-align: center;
        background: black;
        color:#fff;
        border: 2px solid crimson;
        padding: 8px 30px;
        margin: 20px 0;
        border-radius: 30px;
        transition:background 0.5s;
        width: 70px;
        height:40px;
    }
    .layer .pro .btn:hover{
        background: #563534;
    }
    /*------contact section start-----*/
    .contact .info{
        margin: 10px;
    }
     .column{
        width: calc(50% - 30px);
    }
   
    .contact .contact-content .text{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: px;
    }
    .contact .contact-content .left p{
        text-align: justify;
    }
    .contact .contact-content .left .icons{
        margin: 10px 0;
    }
    .contact .contact-content .row{
        display: flex;
        height: 65px;
        align-items: center;
    }
    .contact .contact-content .row .info{
        margin-left: 30px;
    }
    .contact .contact-content .row i{
        font-size: 25px;
        color: crimson;
    }
    .contact .contact-content .info .head{
        font-weight: 500;
    }
    .contact .contact-content .info .sub-title{
        color: #333;
    }
    .contact .right{
        margin-left: 420px;
        margin-top: -320px;
    }
   
    .contact .right form .fields{
        display: flex;
       
    }
    .contact .right form .field,
    .contact .right form .fields .field{
        height: 45px;
        width: 100%;
        margin-bottom: 15px;
    }
    .contact .right form .fields input,
    .contact .right form .textarea textarea{
        height: 100%;
        width: 200px;
        border: 1px solid lightgray;
        border-radius: 6px;
        outline: none;
        padding: 0;
        font-size: 17px;
        font-family: 'Poppins',sans-serif;
    }
    .contact .right form .textarea textarea{
        padding-top: 10px;
        resize: none;
        width: 420px;
    }
    .contact .right form .button{
        height: 47px;
        width: 170px;
    }
    .contact .right form .button button{
        width: 100%;
        height: 100%;
        border: 2px solid crimson;
        background:crimson;
        color:#fff;
        font-size: 20px;
        font-weight: 500;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .contact .right form .button button:hover{
        color: crimson;
        background: none;
    }
    .contact .right form .textarea{
        height: 80px;
        width: 400px;
    }
    .contact .right form .name{
        margin-right: 10px;
    }
    .contact .right form .email{
        margin-left: 10px;
    }
    /*--------footer section start-----*/

    footer{
        background: #111;
        padding:20px 23px ;
        color: #fff;
        text-align: center;
    }
    footer span a{
        color: crimson;
        text-decoration: none;
    }
    footer span a:hover{
        text-decoration: underline;
    }
        


/* responsive media query start*/
@media (max-width:1104px ){
    .home .max-width{
        margin-left: 0px;
    }
}



@media (max-width:947px ){
    .max-width{
        padding: 0 50px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        background: #111;
        text-align: center;
        padding: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: inline-block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 25px;
    }

}
