*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerP{

    width: 60px;
    height: 100%;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: space-between;

}
nav  .logo{
    width: 150px;
    margin-left: 30px;
    margin-top: 10px;
    background: none;
    border-radius: 30px;
}
nav ul{
    display: flex;
    text-align: right;
    margin: 40px;

}
nav ul li{
    direction: none;
    list-style: none;
    display: inline-block;
    margin: 40px;
    margin-right: 0;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    font-weight:700px ;
    color:black;
    padding: 15px;
    position: relative;
    border: 5px ;
    transition: 0.5s;
    border-radius: 30px;
}
.box-20{
    box-shadow: 1.5rem 2rem rgba(5,5,5,.6) ;
}
nav ul li::after{
content: '';
height: 3px;
width: 0;
background: #ff523b;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
}
nav ul li:hover::after{
width: 100%;

}
header{
    background-image: url(https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=2000);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.col h1{
    color: wheat;
    bottom: 30px;
    font-size: 55px;
    justify-content: center;
    margin: 30px;
}
.col button{
    background:crimson;
    color:black;
    border: 2px red;
    height: 60px;
    width: 120px;
    margin-left: 40px;
    border-radius: 5px;
}
.col button:hover{
    background: rgb(189, 125, 125);
   

}
.shoppings{
    margin: 70px;
}
.row{
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
}
.col-1{
    min-width: 300px;
    flex-basis: 30%;
    transition: transform 0.5s;
}
.col-1:hover{
    transform: translate(-5px);
}
.col-1 img{
  width: 250px;
  height: 200px;
    
}
.small-container{
    margin: auto;
    padding-right: 25px;
    padding-left: 10px;
    margin-bottom: 50px;

}
.col-4{
    padding: 10px;
    margin:5px;
    min-width: 150px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4:hover{
    transform: translate(-5px);
}
.ratting{
    text-align: center;
    margin-top: 0;
}
.ratting .fa{
    color: red;
}
.col-4 img{
    width:300px;

}
.small-container h2{
    text-align: center;
    font-size: 30px;
    font-weight: 400px;
}
.col-4 h4{
width: 100%;
padding: 10px;
text-align: center;
}
.col-4 p{
    text-align: center;
}
.products{
    display: inline-block;
    margin: auto;
    padding-left: 25px;
    padding-right:20px ;
    margin-bottom: 50px;
}
.col-6{
    display: inline-block;
    min-width: 150px;
    margin: 10px;
    padding:10px ;
    transition: transform 0.5s;
}
.col-6:hover{
    transform: translate(-5px);
}
.col-6 img{
    margin-top: 50px;
    width: 270px;
    height: 200px;
}
.products h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600px;
}
.stars .fa{
    color: red;
    margin-top: 10px;
}
.col-6 h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight:600px;
}
.col-6 p{
    margin-top: 10px;
}
.big-container{

    margin: auto;
    padding-right: 5px;
    padding-left: 25px;

    }
    .size-5{
   transition: transform 0.5s;    
    display: inline-block;
    padding: 10px;
    margin:10px;
    min-width: 150px;
    margin-left: 20px;
    }
    .size-5:hover{
        transform: translate(-5px);  
    }
    .size-5 img{
        margin-top: 50px;
    width: 270px;
    height: 220px;
    padding: 10px;
    }
.big-container h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
    margin-top: 30px;
}
.size-5 p{
    font-size: 20px;
    font-weight: 800px;
    letter-spacing: 1px;
}
/*------single prodect deatails page----*/
.single-product{
    margin-top: 50px;
    margin-left: 160px;
    right: 30px;
}
.single-product .box-1 img{
    padding: 0;
    box-shadow:0 .5rem 1rem rgb(156, 152, 152) ;
}

.box-2{
    margin-left: 400px;
    margin-top: -400px;
}
.box-2 p{
    font-size: 25px;
    font-weight: 700;
    font: bold;
    text-transform: uppercase;
}
.box-2 .col-0{
    margin: 20px;

}
.box-2 h4{
    font-size: 25px;
    font-weight: 700;
    color: orange;
    margin: 18px;
}
.box-2 .stars{
    color: red;
    margin: 18px;
    font-size: 20px;
}
.box-2 .rating h3{
    font-size: 18px;
    font-weight: 400;
    margin: 18px;
}
.box-2 .rating span{
    background: green;
    color: black;
    width: 80px;
    height: 80px;
    font-weight: 700;
    border: 1px red;
}
.col-0 .quantity{
    border: 1px solid;
    background: white;
    color: black;
    height: 50px;
    width: 80px;
}
.btn{
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background: rgb(33, 206, 33);
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    height: 80px;
    width: 160px;
    text-decoration: none;
}
.btn:hover{
    background: rgb(124, 138, 124);
}
/*---footer section starts----*/
.footer{
    background: #000;
    color: #8a8a8a;
}
.footer p{
    color: #8a8a8a;

}
.footer h3{
    color: #fff;
    margin-bottom: 30px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}


.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    display: flex;
    margin-left:30px;
    margin-top: -10px;
    display: ;
}